<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <p>
    {% if users|length != 0 %}
        Il y a {{ users|length }} utilisateur{% if users|length > 1 %}s{% endif %}
    {% else %}
        il n'y a pas d'utilisateur.
    {% endif %}
    </p>
</div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Prénom</th>
        <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>